.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

div.sharable {
  background-color: lightgrey;
  color: black;
}

p.info {
  color: darkblue;
}
p.warning {
  color: darkred;
}
